<dom-module id="app-layout">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
      }

      .navbar.navbar-inverse {
        margin: 0 !important;
        border-radius: 0 !important;
      }

      .navbar.navbar-inverse h4 {
        color: white;
      }

      #header {
        border-bottom: 1px solid #888;
      }

      #menu {
        position: absolute;
        left: -320px;
        background-color: white;
        z-index: 200;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);

        transition: left 300ms linear;
        -webit-transition: left 300ms linear;
        -ms-transition: left 300ms linear;
        -moz-transition: left 300ms linear;
      }

      #menu.open {
        position: absolute;
        left: 0px;
        background-color: white;
        z-index: 2001;
      }

      @media(min-width: 768px) {
        #menu {
          position: relative;
          left: 0;
        }
        #menu.open {
          left: 0;
        }
      }
    </style>

    <div class="navbar navbar-inverse" style="z-index:300" id="header">
      <div class="container-fluid">
        <h4 style="margin-top: 18px">
          <a style="margin-right: 20px" class="btn btn-primary visible-xs-inline-block" on-click="toggleMenu">
            <i class="fa fa-bars"></i>
          </a>
          <span class="hidden-xs">Advanced Hardwood Biofuels</span><span class="visible-xs-inline-block">AHB</span>
          <small>Decision Support Tool</small>
          
          <span class="pull-right hidden-xs">PROTOTYPE</span>
        </h4>
      </div>
    </div>

    <div class="layout horizontal">
      <div style="overflow-y:auto; overflow-x: hidden" id="menu">
        <app-main-menu on-set-page="setPage"></app-main-menu>
      </div>
      <div class="flex" style="overflow:auto" id="content">
        <parcel-map id="map" class="page"></parcel-map>
        <results-panel id="results" style="display:none" class="page"></results-panel>
      </div>
    </div>

  </template>
</dom-module>
