<dom-module id="app-layout">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
        position: relative;
        height: 100%;
      }

      .short-title {
        display: block;
      }
      .long-title {
        display: none;
      }

      parcel-map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      @media(min-width: 768px) {
        .short-title {
          display: none;
        }
        .long-title {
          display: block;
        }
      }

      paper-header-panel[main] {
        --paper-header-panel-shadow: {
          z-index: 50;
        }
      }

      paper-header-panel[drawer] {
        --paper-header-panel-container: {
          box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.4);
          z-index: 1;
        }
      }

      paper-drawer-panel {
         --paper-drawer-panel-scrim: {
          z-index: 50;
        }
        --paper-drawer-panel-left-drawer-container: {
          z-index: 51;
        }
      }
    </style>

    <paper-drawer-panel id="drawerPanel">
      <paper-header-panel drawer>
        <paper-toolbar>
          <span class="long-title">Advanced Hardwood Biofuels</span>
          <span class="short-title">AHB</span>
        </paper-toolbar>
        <div>
          <app-main-menu id="menu" page="{{selectedPage}}"></app-main-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div>Decision Support Tool</div>
        </paper-toolbar>
        <iron-pages selected="{{selectedPage}}" attr-for-selected="id" selected-attribute="active">
          <parcel-map id="map" class="page"></parcel-map>
          <refinery-select id="select" class="page"></refinery-select>
          <results-panel id="results" class="page"></results-panel>
          <parcel-info id="parcel" class="page"></parcel-info>
          <model-run-console id="console"></model-run-console>
        </iron-pages>
      </paper-header-panel>
    </paper-drawer-panel>


  </template>
</dom-module>
